@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #373b69;

  padding: 1rem;
}

header .container {
  display: flex;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: #fff;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  background-color: #22254b;
  outline: none;
}

#main {
  margin: 2rem auto;
  width: 100%;
  max-width: 1200px;
}

#main .filter-buttons {
  margin-bottom: 2rem;
}

#main .popular-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.movie img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.filter-container button {
  margin-right: 2rem;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  border: 2px solid rgb(65, 98, 168);
  background: none;
  color: rgb(65, 98, 168);
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button.active {
  background: rgb(65, 98, 168);
  color: #fff;
}
